<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'network2/css/style.css' %}" media="screen" title="no title">
    <title>All Users</title>
  </head>

  <body>

    <div class = "header">
      <div class="one_line">
        <a href={% url 'network2:index' %}>My Profile</a>
      </div>
      <div class="one_line">
        <a href={% url 'network1:logout' %}>Log out</a>
      </div>
    </div> <!-- header end div -->


    <div class = "table1">
    <h3>Users you may want to connect with:</h3>
      <table>
        <thead>
          <tr>
            <th>Name</a></th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          {% for user in other_users %}
            <tr>
              <p><td><a href="{% url 'network2:users' user_id=user.id %}">{{ user.name }}</a></td></p>
              <p><td><a href="{% url 'network2:connect' user_id=user.id %}">Connect<a></td></p>
          {% endfor %}

        </tbody>
      </table>
    </div><!-- table1 end div -->
    <br>
    <div class="invite_messages">

<!-- displaying info messages -->
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
        </ul>
      {% endif %}
    </div>

  </body>
</html>
