body{
  background: lightblue;
  font-family: sans-serif;
}

h1{
  font-style: italic;
  font-weight: lighter;
}

.invite_messages p{
  color: green;
}

fieldset{
  width: 50%;
  border-color: black;
}

.header{
  display: block;
}

.header a{
  margin-left: 15px;
}

.header h1{
  margin-right: 30%;
}

input{
  background-color: silver;
  border-radius: 10px;
}

.network_list{
  display: block;
  width: 40%;
  height: 200px;
  overflow: scroll;
  border: 2px solid black;
}

.network_list p a{
  margin: 0px 0px 10px 10px;
}

.one_line{
  display: inline-block;
}

table{
  border-collapse: collapse;
  width: 50%;
  text-align: center;
}

table a{
  margin-left: 10px;
  margin-right: 10px;
}

thead{
  margin-right: 20px;
}

/*zebra striping for table rows*/
tbody tr:nth-child(even){
  background-color: lightblue;
}
tbody tr:nth-child(odd){
  background-color: beige;
}

td{
  font-family: sans-serif;
  padding: 3px 0px 3px 15px;
}

/*table headings*/
th{
    background-color: lavender;
}
