<!DOCTYPE html>
<html>
  <head>
    <title>Login and Registration</title>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'bright_ideas1/css/style.css' %}" media="screen" title="no title">

  </head>
  <body>

    <fieldset>
      <div class="registration">

        <form class="" action="{% url 'bright_ideas1:register' %}" method="POST">
          {% csrf_token %}

          <h1>Registration</h1>
          <h3>Name: <input type="text" name="name" value=""></h3>
          <h3>Alias: <input type="text" name="alias" value=""></h3>
          <h3>Email: <input type="text" name="email" value=""></h3>
          <!-- type="password" hides the password -->
          <h3>Password: <input type="password" name="password" value=""></h3>
          <h3>Confirm Password: <input type="password" name="confirmPW" value=""></h3>

          <input type="Submit" value="Register">
          <br>
          <br>
        </form>
      </div><!-- end of registration -->
    </fieldset>

    <fieldset>
<!-- trying to make the error messages print out in red; haven't succeeded yet -->
      <div class="error_messages">
<!-- displaying error messages -->
        {% if messages %}
          <ul class="messages">
            {% for message in messages %}
              <p>{{ message }}</p>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

      <div class="login">

        <form class="" action="{% url 'bright_ideas1:login' %}" method="POST">
          {% csrf_token %}

          <h1>Log in</h1>
          <h3>Email: <input type="text" name="email" value=""></h3>
          <h3>Password: <input type="password" name="password" value=""></h3>
          <input type="Submit" value="Login">
          <br>
          <br>
        </form>
      </div>
    </fieldset>
      <br>
      <a href={% url 'app1:index' %}>Home page</a>
  </body>
</html>
